/* arrows */
.circle-arrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 5%;
    margin-left: 40%;
     a {
       border:2px solid black;
       border-radius: 50%;
       background: black;
      i {
       color:white;
        font-size: 3rem;
      }
    }
  }