/* arrows */
.circle-arrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 5%;
    margin-left: 40%;
     a {
      i {
        font-size: 3rem;
      }
    }
  }