/* contact page */
.contact{
  
    width:100vw;
    .icons-container{
        margin-top: 2%;
        display:flex;
        flex-wrap: wrap;
        gap:2rem;
        .icons{
            flex:0.3;
            text-align: center;
            padding:2rem;
            background:white;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
            border-radius: 0.5rem;
         
            i{
                height:5rem;
                width:5rem;
                line-height: 5rem;
                font-size: 2rem;
                background: $my-text-color;
                color:white;
                border-radius: 50%;
                &:hover{
                   transform: scale(1.5);
                   cursor:pointer;
                }
            }
            h3{
               font-size: 1.5rem;
               /* padding:0.5rem 0; */
            }
            p{
                color:grey;
                font-size: 1.2rem;
              
            }
        }
    }
}
/* form */
.forms{
    margin-top:5%;
      gap:1.5rem;
    form{
       display:flex;
       flex-direction: column;
        flex:0.3;
        padding:0 2rem;
        box-shadow: 0 .5rem 1 rem rgba(0,0,0,0.1);
        border-radius: 0.5rem;
        label{
            font-size: 1.2rem;  
            font-weight: 900; 
        }
        input, textarea{
            font-size: 1.2rem;
            margin:2%;
            width:20rem;
            height:3rem;
      &:last-child{
          width:10%;
          background:$my-text-color;
          font-size: 1.2rem;
          border:none;
      }
        }
    }
}