/* hobbies container */
.hobbies {
  width: 100vw;
  font-size: 1.2rem;
  line-height: 2rem;
  ul {
    li:hover {
      width: 20%;
      color: $my-text-color;
    }
  }
}
/* span */
span{
    color:$my-text-color;
}
/* /* food-images section */
/* .food-images{
    display:flex;
    h4{
       text-align: center;
       background-color: $my-text-color;
    }
} */
/* garden section */
/* .garden-images{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    img{
        padding:1%;
    border: 0.2rem solid grey;
}
} */
/* food images */
/* .food-images{
    display:flex;
    justify-content: center;
    gap:3rem;
    margin-bottom: 0.5%;
    img{
        padding:3%;
    border: 0.2rem solid grey;
}
} */

/* image slider with animation */
.garden-images{
  width:70%;
  height:50%;
  position:absolute;
  left:30%;
  top:50%;
  img{
    width:60%;
    position: absolute;
    left:30%;
    top:90%;
    transform: translate(-50%,-50%);
  }
}
