@media only screen and (max-width: 450px) {
  /* landing page */
  .side-menu {
    display: none;
  }
  /* hamburger side menu font */
  header {
       nav {
      .logo {
        width: 60vw;
        height: 20vh;
      }
      ul {
        li {
          a {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  /* main-text */
  .main-content {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .main-text {
      h3 {
        /* welcome my portfolio */
        font-size: 1rem;
      }
      h2 {
        /* my name */
        font-size: 1.7rem;
      }
      p {
        /* web developer */
        font-size: 0.8rem;
      }
      button {
        width: 50%;
        height: 2rem;
        font-size: 1rem;
      }
    }
    /* my image */
    .image img {
      width: 40vw;
      animation: none;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 85%;
    height: 10%;
    a {
      i {
        font-size: 1.5rem;
      }
    }
  }
  /* aboutme page */
  .aboutme {
    height: 100%;
    display: flex;
    flex-direction: column;
    p {
      font-size: 0.8rem;
    }
    img {
      width: 30%;
    }
  }

  /* skillset page */
  .myskills {
    margin:5%;
    .myskills-text {
      p {
        font-size: 0.8rem;
      }
    }
  }
  .tools{
    h3{
      width:100vw;
     }
    li{font-size: 0.8rem;}
     }
  .skillset  {
    h2{ font-size: 1.2rem;}
   
  }
  /* project section */
  .projects {
    .box-container {
      width: 80%;
      .box {
        width: 120%;
        .img {
          border: 2px solid red;
          width: 50%;
        }
        h3 {
          font-size: 0.9rem;
        }
        h2 {
          font-size: 1rem;
        }
        .icons {
          font-size: 0.5rem;
          position: absolute;
          bottom: 2%;
          left: 38%;
        }
      }
    }
  }
  /* circle arrows */
  .skillset .circle-arrows {
    margin-top: 10%;
  }
  /* hobbies page */
  .hobbies {
    font-size: 0.8rem;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
  }
  .garden-images {
    img {
      width: 100vw;
      height: 65vh;
    }
  }
  .food-images {
    img {
      width: 100vw;
      height: 65vh;
    }
  }
  /* contact me page */
  .icons-container {
    width: 75vw;
    .icons {
      text-align: center;
      background: beige;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
 }
    p {
      width: 75vw;
         }
  
  }
  .forms {
    form {
      label{font-size: 0.9rem;}
      input {
        width: 90%;
        &:last-child {
          width: 50%;
          margin-left: 25%;
        }
      }
      textarea {
        width: 90%;
      }
    }
  }
  /* circle-arrows position adjustment*/
  .contact {
    .circle-arrows {
      margin-top: 10%;
    }
  }
}
/* circle arrows font size adjustment*/
.circle-arrows {
  a {
    i {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 750px) {
  .hamburger {
    display: none;
  }
}
