@media only screen and (max-width: 450px) {
  /* landing page */
 .side-menu {
    display: none;
  }
  /* grid layout */
  /* body {
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-columns:1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";      
  } */
  /* hamburger side menu font */
  header {
    /*   grid-area: header; */
        
    nav {
        .logo {
            width: 60vw;
            height: 20vh;
          }
      ul {
        li {
          a {
            font-size: 0.7rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  
  /* main-text */
  .main-content {
      /* grid-area: main; */
  
display:flex;
flex-direction:row-reverse;
flex-wrap: wrap;

  }
  .main-text {
    line-height: 1;
      h3 { /* welcome to my portfolio */
      font-size: 1rem;
      animation: none;
    }
    h2 { /* my name */
      font-size: 1.5rem;
         }
    span {
      font-size: 1rem;
         }
    p {/* web dev */
      font-size: 1rem;
          animation: none;
         }
  }
  .social-icons{
      /* grid-area: footer; */
       display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position:absolute;
      top:97%;
      height:10%;
      a{
          i{
              font-size: 1.5rem;
          }
      }
  }
 
  /* Hire me -button */
   .main-text button {
    width: 70%;
    height: 2rem;
    font-size: 1rem;
  }  
  /* my image */
  .image img {
    width: 50vw;
    animation: none;
  }
 
  /* aboutme page */
  .aboutme {
    display: flex;
    flex-direction: column;
    p {
      font-size: 0.5rem;
    }
  }
  /* skillset page */
  .myskills {
       .myskills-text {
      p {
        font-size: 0.8rem;
       }
    }
  }
  .tools li {
    font-size: 0.8rem;
}
.skillset h2{
    font-size: 1.2rem;
}
/* project section */
.projects{
  
.box-container{
    width:80%;
    .box{
        width:120%;
        .img{
            border:2px solid red;
      width:50%;
        }
        h3{
font-size: 0.9rem;
        }
        h2{
            font-size: 1rem;
        }
        .icons{
            font-size: 0.5rem;
            position: absolute;
            bottom: 2%;
            left: 38%;
        }
    }
 }
}
/* circle arrows */
.skillset .circle-arrows {
    margin-top: 10%;
  }
  /* hobbies page */
  .hobbies{
      font-size: 0.8rem;
      margin-left:15%;
      display:flex;
      flex-direction:column;
        }
  
  /* contact me page */
  .icons-container{
  
    .icons{
      margin-left:5%;
      flex:0 1 auto;
            text-align: center;
            padding:2rem;
            background:beige;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
            border-radius: 0.5rem;
    }
  }
  .forms{
    form{
      input{
        width:90%;
        &:last-child{
          width:50%;
          margin-left: 25%;
        }
      }
      textarea{
        width:90%;
      }
    }
  }
  /* circle-arrows */
  .contact{
  .circle-arrows {
    margin-top: 10%;
  }
  
}
}

@media only screen and (min-width: 750px) {
  .hamburger {
    display: none;
  }
}
