/* skill set page */
body {
  width: 100vw;
  height: 100vh;
  /* heading */
  .skillset {
    width: 100vw;
    display: flex;
    flex-direction: column;
    .myskills-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 0.1;
      h2 {
        span {
          color: $my-text-color;
        }
      }
      h4 {
        font-weight: 600;
        &:before {
          content: "--";
          color: $my-text-color;
        }
        &:after {
          content: "--";
          color: $my-text-color;
        }
      }
    }
  }
}
/* h3 styling */
h3{
  
}
/* creative skills section */
.myskills{
  .myskills-text{
   
    p{
            font-size: 1.2rem;
            line-height: 2;
    }
  }
}
/*tools section */
.tools{
  li{
font-size: 1.3rem;
  
  &:hover{
        color:orange;
        font-weight: 600;
         }
}
}
/* project section */
.projects{
  display:flex;
  flex-wrap: wrap;
 }
.projects .box-container{
 width:30%;
}
.projects .box-container .box{

 flex:1 1 30rem;
 height:25rem;
 position: relative;
 overflow: hidden;
 border:0.2rem solid grey;
 box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}
.projects .box-container img{
  padding:3%;
    width:30rem;
  height:25rem;
  object-fit:cover;
/*    position:relative;
  z-index:1; */
}
/* .projects .box-container .box h3{
  position:absolute;
  bottom:0.5rem;
  left:1rem;
  font-size: 2.5rem;
  color:#333;
  text-transform: uppercase;
} */