/* skill set page */
body {
  width: 100vw;
  height: 100vh;
  /* heading */
  .skillset {
    width: 100vw;
    display: flex;
    flex-direction: column;
    .myskills-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 0.1;
      h2 {
        span {
          color: $my-text-color;
        }
      }
      h4 {
        font-weight: 600;
        &:before {
          content: "--";
          color: $my-text-color;
        }
        &:after {
          content: "--";
          color: $my-text-color;
        }
      }
    }
  }
}
/* h3 styling */
h3 {
}
/* creative skills section */
.myskills {
  .myskills-text {
    p {
      font-size: 1.2rem;
      line-height: 2;
    }
  }
}
/*tools section */
.tools {
  width:20%;
  li {
    font-size: 1.3rem;

    &:hover {
      color:$my-text-color;
      font-weight: 600;
    }
  }
}
/* project section */
.projects {
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
  .box-container {
    width: 50%;
    .box {
      flex: 1 1 30rem;
      width: 45rem;
      height: 30rem;
      position: relative;
      overflow: hidden;
      border: 0.2rem solid grey;
      img {
        padding: 1rem;
        width: 100%;
        height: 75%;
        object-fit: cover;
        /*    position:relative;
        z-index:1; */
      }
    }
  }
}
.projects .box-container .box h3 {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 1.5rem;
  color: black;
    }
  .projects .box-container .box h2 {
    position: absolute;
    bottom: 0.5rem;
    left: 11rem;
    font-size: 1.52rem;
    color: $my-text-color;
    text-transform: uppercase;
    }
.projects .icons {
 position:absolute;
bottom:7%;
left:60%;
    a{
       i{
      font-size: 1.7rem;
      color:black;
      &:hover{
        background:orange;
      }
        }

  }
}
