@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import "./header.scss";
@import "./landing-page.scss";
@import "./sidebar.scss";
@import "./aboutme.scss";

//Variables
$my-text-font: 'Roboto', sans-serif;

// colors
$my-body-color: beige;

/* body grid layout */
 body {
  width: 100vw;
  height: 100vh;
  background-color: $my-body-color;
  font-family:$my-text-font ;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 5vw 90vw;
  grid-template-areas:
    "header header"
    "sidebar main";
}
/* p{
  padding:2rem;
  line-height: 1.5;
  border:2px solid grey;
  width:30%;
  height:40%;
} */
 